body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    margin: auto;
}

.header {
    background-color: #E7F4FB;
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}

/*Used to store the restauraunts in a app like structure*/
.app-container{
    width: 1190px;
    background-color: #E7F4FB;
    border: 3px solid black;
    align-items: center;
    margin: auto;
}
        
.restaurant-name {    
    font-size: 3.75em;          
    font-weight: bold;      
    color: #1d2731;    
    text-shadow: -2px 0 #DEBD3B, 0 2px #DEBD3B, 2px 0 #DEBD3B, 0 -2px #DEBD3B;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 580px;  
    height:100%;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.top-image{
    width:45%;
    height: 85%;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -190px;
    display: block;
    border-radius: 20px;
    border: 4px solid black;
}

.description{
    font-size: 1.5em;
    font-weight: bold; 
    color: #2c3e50; 
    width: 97.5%;
    height: 130px;
    padding-left: 20px;
    margin-top: -5px;
}

.Details{
    Width:100%;
    height:100px;
    margin-bottom: 35px;
    border-bottom: 3px solid black;
}

.review_stars{
    font-size: 2.5em;
    font-weight: bold; 
    display: block;
    margin-left: 40px;
    background-color:#7EC2E7;
    border: 3px solid black;
    width: 650px;
    height: 65px;
    text-align: center;
}

.star_color{
    /*#e67e22*/
    color:#e67e22;
    text-shadow: -2px 0 #2c3e50, 0 2px #2c3e50, 2px 0 #2c3e50, 0 -2px #2c3e50;
}

.no_star{
    color:#000000;
    text-shadow: -2px 0 #e67e22, 0 2px #e67e22, 2px 0 #e67e22, 0 -2px #e67e22;
}

.Delivery_fee{
    font-size: 1.2em;
    font-weight: bold; 
    color:#505050;
    text-shadow: -2px 0 #d1a102, 0 2px #d1a102, 2px 0 #d1a102, 0 -2px #d1a102;
    display: block;
    margin-left: auto;
    margin-right: 40px;
    margin-top: -80px;
    background-color:#7EC2E7;
    border: 3px solid black;
    width: 320px;
    height: 80px;
    text-align: center;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.item-card{
    background: #1a609e83;
    border-radius: 20px;
    border-width: 5px;
    border: 3px solid #FFDA46;
    width: 324px;
    height: 350px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.item-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.item-image{
    width: 100%;
    height: 195px;
    margin-bottom: -4px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom: 3px solid #FFDA46;
}

.no-image{
    background-color: #aeafaf;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    width: 100%;
    height: 195px;
    border-bottom: 3px solid #FFDA46;
}

.Item-details{
    width: 100%;
    height: 100px;
    margin-left: 15px;
    margin-top: -10px;
}

.Item-name{
    font-size: 1.3em;          
    font-weight: bold;
    width: 90%;
    height: 60px; 
}

.Item-price{
    font-size: 1em;
    font-weight: bold; 
    margin-top: -25px;
    color:#236938
}

.add-img-btn{
    color: #666;
    font-size: 1.5em;          
    font-weight: bold; 
    text-decoration: none;
}
        
.category {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8em;
    margin-top: 10px;
}

.no-items {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
        
.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
        
.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
        
.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
        

.back-btn{
    display: inline-block; 
    margin-bottom: 20px;
    color: white; 
    padding: 16px; 
    border-radius: 15px; 
    font-size: 14px; 
    font-weight:bold; 
    text-decoration: none; 
    background-color:#4b5279; 
    margin-left: 20px;
    margin-top: 20px;
}

.back-btn:hover{
    background-color: #3f468a;
}

.Add-item-btn {
    margin-left: 20px;
    background-color: #1261f3;
    color: rgb(228, 207, 25);
    border: 3px solid rgb(228, 207, 25);
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}

.Add-item-btn:hover{
    background-color: #2d4361;
    color:#d88e05;
    border: 3px solid #d88e05;
}

.Cart-btn{
    background-color: #1273f3;
    color: white;
    font-weight:bold;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    width: 100px;
}

.Cart-btn:hover{
    background-color: #264977;
    color:#d88e05;
}